.sidebarIcon,
.wrapperSidebar {
  position: absolute;
  flex-shrink: 0;
  z-index: 1;
}
.sidebarIcon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  left: 0;
  top: 4px;
  transform: scale(1.146);
}
.wrapperSidebar {
  width: 82px;
  height: 486px;
  margin: 0 !important;
  bottom: 36px;
  left: 130px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameChild {
  height: 982px;
  width: 103px;
  position: relative;
  background-color: var(--color-antiquewhite);
  display: none;
}
.bookListFrame {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.rectangleParent {
  height: 982px;
  background-color: var(--color-antiquewhite);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-7xl) var(--padding-15xl)
    var(--padding-8xl);
  box-sizing: border-box;
}
.bookify {
  margin: 0;
  width: 120px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.bookifyWrapper {
  height: 48px;
  width: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.frameItem {
  height: 60px;
  width: 334.5px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-antiquewhite);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.search29111Icon {
  position: absolute;
  top: 7px;
  left: 11.1px;
  width: 21.7px;
  height: 21.6px;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.yellowBook499530Icon {
  position: absolute;
  top: 0.4px;
  left: -0.1px;
  width: 45px;
  height: 37px;
  overflow: hidden;
  z-index: 2;
}
.personalizedMessageBox {
  height: 37px;
  width: 45px;
  position: relative;
}
.getAPersonalized {
  flex: 1;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -2px;
}
.frameInner,
.rectangleGroup {
  border-radius: var(--br-13xl);
  background-color: var(--color-antiquewhite);
}
.rectangleGroup {
  width: 335px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-8xs) var(--padding-2xs)
    var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  cursor: pointer;
  font-size: var(--font-size-xs);
}
.frameInner {
  height: 60px;
  width: 144.9px;
  position: relative;
  display: none;
}
.signOut {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-gray-200);
  text-align: center;
  z-index: 1;
}
.frameWrapper,
.rectangleContainer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 17px var(--padding-2xs) var(--padding-6xl) var(--padding-mini);
  background-color: var(--color-antiquewhite);
  align-self: stretch;
  height: 60px;
  border-radius: var(--br-13xl);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.rectangleContainer:hover {
  background-color: #ccc2b3;
}
.frameWrapper {
  width: 146px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-4xs) 0;
}
.frameContainer {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  white-space: nowrap;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.suggestedBooks {
  margin: 0;
  width: 453px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.rectangleDiv {
  height: 28.3px;
  width: 92.7px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-300);
  display: none;
}
.viewAll {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-200);
  text-align: center;
  z-index: 1;
}
.frameChild1,
.groupButton {
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-300);
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-8xs)
    var(--padding-8xs);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.groupButton:hover {
  background-color: var(--color-silver-100);
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.chevronLeft11 {
  position: absolute;
  top: 7.5px;
  left: 9px;
  width: 15.8px;
  height: 13.2px;
  overflow: hidden;
  z-index: 1;
}
.frameChild2,
.groupDiv {
  height: 28.3px;
  width: 33.9px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-300);
}
.frameChild2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.chevronLeft12 {
  position: absolute;
  top: 7.5px;
  left: 9px;
  width: 15.8px;
  height: 13.2px;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent1 {
  height: 28.3px;
  width: 33.9px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-300);
}
.frameDiv,
.suggestedBooksParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameDiv {
  width: 183px;
  justify-content: flex-start;
  gap: 0 11px;
}
.suggestedBooksParent {
  width: 1020px;
  justify-content: space-between;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.yellowBook499512Icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.yellowBook499512Icon,
.yellowBook499512Parent,
.yellowBook499526Icon {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.yellowBook499526Icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.yellowBook499512Parent {
  margin: 0 !important;
}
.eea4c1aa0ae57265f07285eb92c31Icon {
  height: 123px;
  width: 108px;
  position: absolute;
  margin: 0 !important;
  top: 3px;
  right: 19px;
  border-radius: 0 var(--br-3xs) 0 0;
  object-fit: cover;
  z-index: 1;
}
.yellowBook499531Icon {
  height: 160px;
  width: 160px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3;
}
.eea4c1aa0ae57265f07285eb92c31Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frameParent2,
.frameWrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameParent2 {
  position: relative;
  min-width: 104px;
}
.yellowBook499513Icon {
  height: 160px;
  width: 160px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 160px;
  cursor: pointer;
  z-index: 1;
  margin-left: -13px;
}
.yellowBook499514Icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.warAndPeace693x10481Icon {
  height: 123px;
  width: 97px;
  position: absolute;
  margin: 0 !important;
  top: 3px;
  right: 29px;
  border-radius: 0 var(--br-3xs) 0 0;
  object-fit: cover;
  z-index: 3;
}
.yellowBook499528Icon {
  height: 160px;
  width: 160px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 4;
}
.warAndPeace693x10481Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper2,
.yellowBook499514Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.yellowBook499514Parent {
  position: relative;
  min-width: 104px;
  margin-left: -13px;
}
.yellowBook499515Icon,
.yellowBook499529Icon {
  border-radius: 0 var(--br-3xs) 0 0;
  overflow: hidden;
}
.yellowBook499515Icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 3;
}
.yellowBook499529Icon {
  height: 160px;
  width: 160px;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 5;
}
.yellowBook499515Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -13px;
}
.yellowBook499516Icon,
.yellowBook499517Icon,
.yellowBook499518Icon {
  height: 160px;
  width: 160px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 160px;
  cursor: pointer;
  z-index: 4;
  margin-left: -13px;
}
.yellowBook499517Icon,
.yellowBook499518Icon {
  z-index: 5;
}
.yellowBook499518Icon {
  z-index: 6;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}
.byDouglasAdams,
.hitchhikersGuideTo {
  margin: 0;
}
.hitchhikersGuideToContainer {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 145px;
  max-width: 148px;
}
.byJrrTolkin,
.lordOfThe {
  margin: 0;
}
.lordOfTheContainer {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 145px;
  max-width: 146px;
}
.byPauloCoelho,
.theAlchemyst {
  margin: 0;
}
.julesVerne,
.julesVerne1,
.karlMarx,
.theAlchemystByContainer,
.tolstoy {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 145px;
  max-width: 147px;
}
.julesVerne,
.julesVerne1,
.karlMarx {
  max-width: 146px;
}
.julesVerne1,
.karlMarx {
  max-width: 148px;
}
.julesVerne1 {
  max-width: 147px;
}
.bookshelfFrame {
  width: 1031px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  text-align: center;
  font-size: var(--font-size-5xs);
}
.rectangleShape {
  flex: 1;
  flex-direction: column;
  gap: 10px 0;
}
.frameGroup,
.mainMessageBox,
.rectangleShape {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mainMessageBox {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frameGroup {
  width: 1058px;
  flex-direction: column;
  gap: 49px 0;
}
.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 1px;
  bottom: 1px;
  left: 0;
  border-radius: 14px;
  background-color: var(--color-antiquewhite);
  cursor: pointer;
}
.image11Icon {
  width: 52px;
  height: 57px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.image11Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.hiThanksFor,
.letUsKnow {
  margin: 0;
}
.hiThanksForContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.mainMessageBox1,
.searchpanel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mainMessageBox1 {
  height: 88px;
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--padding-lgi) 38px var(--padding-10xl) var(--padding-4xs);
  max-width: calc(100% - 67px);
  z-index: 1;
}
.searchpanel {
  height: 86px;
  align-items: center;
  gap: 0 15px;
  max-width: 100%;
}
.harderBookTo,
.thanksImCurrently {
  margin: 0;
}
.thanksImCurrentlyContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.thanksImCurrentlyReadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.mainMessageBox2 {
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-10xl) 0 var(--padding-mini) var(--padding-lgi);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.image11Icon1 {
  height: 60px;
  width: 52px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.sureBasedOn {
  margin: 0;
}
.lordOfThe1 {
  font-family: var(--font-montserrat);
}
.preferencesIdThinkYoudL {
  margin: 0;
}
.sureBasedOnContainer {
  margin: 0;
  position: absolute;
  top: calc(50% - 21px);
  right: -152px;
  font-size: inherit;
  display: inline-block;
  width: 545px;
  height: 42px;
  font-family: inherit;
}
.mainMessageBox3 {
  height: 72px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  max-width: calc(100% - 65px);
  z-index: 1;
}
.image11Parent {
  width: 467px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 13px;
  max-width: 100%;
}
.pleaseRateThis {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 21px;
  flex: 1;
  position: relative;
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  min-width: 217px;
  max-width: 100%;
}
.mainMessageBox4,
.suggestionmessagebox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.mainMessageBox4 {
  height: 28px;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  align-items: center;
  padding: var(--padding-8xs) 33px 0 var(--padding-3xs);
  z-index: 1;
}
.suggestionmessagebox {
  width: 530px;
  height: 26px;
  align-items: flex-start;
  padding: 0 var(--padding-43xl) 0 var(--padding-45xl);
}
.starRatingIcon {
  height: 17px;
  width: 91px;
  position: relative;
  z-index: 1;
}
.frameChild3 {
  height: 58.8px;
  width: 236.7px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
  display: none;
}
.getASuggestion {
  height: 35.3px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangleParent2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-2xs);
  background-color: var(--color-lightsalmon);
  align-self: stretch;
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.rectangleParent2:hover {
  background-color: var(--color-sienna);
}
.frameWrapper3 {
  width: 239px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.starRatingParent,
.starratingcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.starRatingParent {
  width: 903px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.starratingcontainer {
  align-self: stretch;
  justify-content: flex-end;
}
.imagepreviewframe {
  width: 970px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px 0;
}
.imagepreviewframe,
.imagepreviewframeWrapper,
.mainMessageBoxParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.imagepreviewframeWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.mainMessageBoxParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 22px 0;
}
.rectangleBase,
.rectangleBaseInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleBaseInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.rectangleBase {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 8px var(--padding-16xl) 58px;
  position: relative;
  gap: 51px 0;
}
.rectangleBaseWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  font-family: var(--font-montserrat);
}
.frameParent,
.rectangleBaseWrapper,
.signOutButton,
.signOutButtonWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.signOutButton {
  align-self: stretch;
  flex-direction: column;
  gap: 92px 0;
  max-width: 100%;
}
.frameParent,
.signOutButtonWrapper {
  box-sizing: border-box;
}
.signOutButtonWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  max-width: calc(100% - 130px);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
.frameParent {
  width: 1268px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: 0 27px;
  max-width: 100%;
  flex-shrink: 0;
}
.fyodorDostoevsky,
.jKRowling {
  height: 15px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 127px;
  max-width: 130px;
}
.fyodorDostoevsky {
  z-index: 1;
}
.tolstoy1 {
  z-index: 2;
}
.julesVerne2,
.julesVerne3,
.karlMarx1,
.karlMarx2,
.tolstoy1 {
  height: 15px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 127px;
  max-width: 130px;
}
.julesVerne2,
.julesVerne3,
.karlMarx2 {
  z-index: 1;
}
.julesVerne3,
.karlMarx2 {
  z-index: 2;
}
.julesVerne3 {
  z-index: 3;
}
.authorList,
.bookstore {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authorList {
  margin-bottom: -170px;
  width: 931px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  flex-shrink: 0;
}
.bookstore {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--color-snow);
  overflow: hidden;
  flex-direction: column;
  gap: 155px 0;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .rectangleBase {
    padding-left: var(--padding-10xl);
    box-sizing: border-box;
  }
  .signOutButton {
    gap: 92px 0;
  }
  .bookstore {
    gap: 155px 0;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    display: none;
  }
  .frameContainer,
  .suggestedBooksParent {
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: 49px 0;
  }
  .suggestionmessagebox {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .rectangleBase {
    gap: 51px 0;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .signOutButton {
    gap: 92px 0;
  }
  .signOutButtonWrapper {
    max-width: 100%;
  }
  .frameParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .bookstore {
    height: auto;
    gap: 155px 0;
  }
}
@media screen and (max-width: 450px) {
  .bookify {
    font-size: var(--font-size-lgi);
  }
  .suggestedBooks {
    font-size: var(--font-size-base);
  }
  .starRatingParent {
    flex-wrap: wrap;
  }
  .bookstore {
    gap: 155px 0;
  }
}
