.body {
  position: absolute;
  top: calc(50% - 13px);
  left: 24px;
  line-height: 25.45px;
  font-weight: 500;
  display: inline-block;
  width: 964.5px;
}
.borderBottom {
  position: absolute;
  height: 4.5%;
  width: 100%;
  top: 95.5%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 3.82px 3.82px;
  background-color: var(--light-theme-rest-background-brand-background);
  display: none;
}
.emojisIcon,
.outlineMessagesCoversatio,
.sendIcon {
  position: absolute;
  top: 25px;
  left: 1058px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.emojisIcon,
.outlineMessagesCoversatio {
  left: 988px;
}
.outlineMessagesCoversatio {
  left: 918px;
}
.mainMessageBox {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 568px);
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 100%;
  height: 104px;
}
.mainMessageBox1,
.outer {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.outer {
  height: 108px;
  width: 1140px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.mainMessageBox1 {
  height: 120px;
  width: 672px;
  border-radius: var(--br-3xs);
  object-fit: contain;
}
.chatbotFreshChild {
  height: 1139px;
  width: 128px;
  position: relative;
  display: none;
}
.frameFreshChild {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  top: 23.5px;
  right: 35px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.innerCircleChild {
  height: 1139px;
  width: 128px;
  position: relative;
  display: none;
}
.innerCircleItem {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 3;
}
.frameFresh,
.innerCircle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.innerCircle {
  margin-top: -1px;
  align-self: stretch;
  background-color: var(--color-antiquewhite);
  justify-content: flex-end;
  padding: var(--padding-6xl) var(--padding-16xl) var(--padding-6xl)
    var(--padding-24xl);
  z-index: 2;
}
.frameFresh {
  height: 1139px;
  justify-content: flex-start;
  position: relative;
}
.frameChild {
  height: 61.8px;
  width: 267px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
  display: none;
}
.getRecommendations {
  height: 37.1px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.frameItem,
.rectangleParent {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-2xs) var(--padding-2xs)
    var(--padding-3xs);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.rectangleParent:hover {
  background-color: var(--color-sienna);
}
.frameItem {
  align-self: stretch;
  width: 236.7px;
}
.frameInner,
.frameItem,
.startANew {
  position: relative;
  display: none;
}
.startANew {
  height: 35.3px;
  width: 218.5px;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
.frameInner {
  height: 58.8px;
  width: 236.7px;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
}
.startANew1 {
  height: 35.3px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  z-index: 1;
}
.rectangleGroup,
.startANewChatParent {
  cursor: pointer;
  background-color: var(--color-lightsalmon);
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.startANewChatParent {
  flex: 1;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-2xs)
    var(--padding-4xs);
  z-index: 2;
}
.rectangleGroup {
  border: 0;
  padding: 0;
  width: 238px;
}
.groupChat,
.nestedFrame {
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.groupChat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 40px;
}
.nestedFrame {
  width: 550px;
  padding: 0 var(--padding-11xs);
}
.chatbotFresh,
.headerFrame,
.nestedFrame,
.subFrame {
  display: flex;
  justify-content: flex-start;
}
.subFrame {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: 768px 0;
  max-width: 100%;
}
.chatbotFresh,
.headerFrame {
  align-items: flex-start;
  box-sizing: border-box;
}
.headerFrame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-25xl) 0 0;
  max-width: calc(100% - 203px);
  flex-shrink: 0;
}
.chatbotFresh {
  width: 100%;
  position: relative;
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-27xl) var(--padding-41xl) var(--padding-20xl);
  gap: 0 75px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--light-theme-rest-foreground-default-foreground-1-424242);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1125px) {
  .subFrame {
    gap: 768px 0;
  }
  .headerFrame {
    padding-top: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .frameFresh {
    display: none;
  }
  .headerFrame {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .startANew1 {
    display: none;
  }
  .groupChat {
    gap: 0 40px;
  }
  .subFrame {
    gap: 768px 0;
  }
  .headerFrame {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .chatbotFresh {
    gap: 0 75px;
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .body {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .subFrame {
    gap: 768px 0;
  }
  .chatbotFresh {
    gap: 0 75px;
  }
}
