.ChatbotSideCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80vh; /* Adjusted height */
  margin-top: 50px; /* Adjusted margin from the top */
  font-family: 'Arial', sans-serif;
}

.ChatBox {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.Message {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.user {
  background-color: #f2f2f2;
}
/*
.assistant {
  background-color: #d4edda;
}
*/
.system {
  background-color: #cce5ff;
}

.InputBox {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  flex-grow: 1;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
