.body {
  position: absolute;
  top: calc(50% - 13px);
  left: 24px;
  line-height: 25.45px;
  font-weight: 500;
  display: inline-block;
  width: 964.5px;
}
.borderBottom {
  position: absolute;
  height: 4.5%;
  width: 100%;
  top: 95.5%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 3.82px 3.82px;
  background-color: var(--light-theme-rest-background-brand-background);
  display: none;
}
.emojisIcon,
.outlineMessagesCoversatio,
.sendIcon {
  position: absolute;
  top: 25px;
  left: 1058px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.emojisIcon,
.outlineMessagesCoversatio {
  left: 988px;
}
.outlineMessagesCoversatio {
  left: 918px;
}
.mainMessageBox {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 568px);
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 100%;
  height: 104px;
}
.outer {
  height: 108px;
  width: 1140px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--light-theme-rest-foreground-default-foreground-1-424242);
  font-family: var(--font-montserrat);
}
.borderBottom1 {
  position: absolute;
  height: 6.25%;
  top: 100.63%;
  right: -90.6px;
  bottom: -6.87%;
  background-color: var(--color-gray-400);
  width: 96.6px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.harderBookTo,
.thanksImCurrently {
  margin: 0;
}
.thanksImCurrentlyContainer {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: inline-block;
  width: 560px;
}
.mainMessageBox1,
.mainMessageBox2 {
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.mainMessageBox1 {
  height: 98px;
  width: 610px;
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.mainMessageBox2 {
  height: 120px;
  width: 672px;
  object-fit: contain;
}
.borderBottom2 {
  position: absolute;
  height: 8.33%;
  top: 100.69%;
  right: -66.5px;
  bottom: -9.03%;
  background-color: var(--color-gray-400);
  width: 72.5px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.thankYou {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: inline-block;
  width: 138px;
}
.mainMessageBox3 {
  height: 74px;
  width: 188px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  white-space: nowrap;
}
.borderBottom3 {
  position: absolute;
  height: 5%;
  top: 100.67%;
  bottom: -5.67%;
  left: 666px;
  background-color: var(--color-darkslateblue);
  width: 120.8px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.sureBasedOn {
  margin: 0;
}
.lordOfThe {
  font-family: var(--font-montserrat);
}
.preferencesIdThinkYoudL {
  margin: 0;
}
.sureBasedOnContainer {
  position: absolute;
  bottom: 24px;
  left: 648px;
  display: inline-block;
  width: 624px;
  height: 96px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.starRatingIcon {
  position: absolute;
  top: 80px;
  left: -648px;
  width: 91px;
  height: 17px;
  object-fit: contain;
  transform: rotate(-180deg);
}
.chatbotSidecolChild,
.mainMessageBox4,
.mainMessageBox5 {
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.mainMessageBox4 {
  height: 122px;
  width: 674px;
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  transform: rotate(180deg);
  max-width: 100%;
}
.chatbotSidecolChild,
.mainMessageBox5 {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.mainMessageBox5 {
  height: 120px;
  width: 672px;
  object-fit: contain;
  max-width: 100%;
}
.chatbotSidecolItem {
  height: 1139px;
  width: 128px;
  position: relative;
  display: none;
}
.chatbotSidecolInner,
.mainMessageBox6 {
  position: relative;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.mainMessageBox6 {
  height: 120px;
  width: 672px;
  object-fit: contain;
  max-width: 100%;
}
.chatbotSidecolInner {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.frameRootChild {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  top: 23.5px;
  right: 35px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.ellipseChatbotChild {
  height: 1139px;
  width: 128px;
  position: relative;
  display: none;
}
.ellipseChatbotItem {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 3;
}
.ellipseChatbot,
.frameRoot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ellipseChatbot {
  margin-top: -1px;
  align-self: stretch;
  background-color: var(--color-antiquewhite);
  justify-content: flex-end;
  padding: var(--padding-6xl) var(--padding-16xl) var(--padding-6xl)
    var(--padding-24xl);
  z-index: 2;
}
.frameRoot {
  height: 1139px;
  justify-content: flex-start;
  position: relative;
}
.frameChild {
  align-self: stretch;
  width: 267px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
  display: none;
}
.getRecommendations {
  height: 37.1px;
  width: 246.5px;
  position: relative;
  font-size: var(--font-size-base);
  display: none;
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frameItem {
  height: 61.8px;
  width: 267px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
  display: none;
}
.getRecommendations1 {
  height: 37.1px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.getRecommendationsParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-2xs) var(--padding-2xs)
    var(--padding-3xs);
  cursor: pointer;
  z-index: 2;
}
.frameInner,
.getRecommendationsParent,
.rectangleParent {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 174px;
}
.frameInner {
  align-self: stretch;
  width: 236.7px;
}
.frameInner,
.rectangleDiv,
.startANew {
  position: relative;
  display: none;
}
.startANew {
  height: 35.3px;
  width: 218.5px;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangleDiv {
  height: 58.8px;
  width: 236.7px;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon);
}
.startANew1 {
  height: 35.3px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--light-theme-rest-background-default-background);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.rectangleGroup,
.startANewChatParent {
  cursor: pointer;
  background-color: var(--color-lightsalmon);
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.startANewChatParent {
  flex: 1;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-2xs)
    var(--padding-4xs);
  z-index: 2;
}
.rectangleGroup {
  border: 0;
  padding: 0;
  width: 238px;
}
.getRecommendationsLabel,
.groupMessageBoxes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.getRecommendationsLabel {
  flex: 1;
  flex-wrap: wrap;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 40px;
}
.groupMessageBoxes {
  width: 546px;
  padding: 0 0 370px;
}
.outlineMessagesCoversatio1,
.outlineMessagesCoversatio2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.outlineMessagesCoversatio2 {
  z-index: 1;
}
.userMessageFrame {
  height: 30px;
  width: 30px;
  position: relative;
}
.harderBookTo1,
.thanksImCurrently1 {
  margin: 0;
}
.thanksImCurrentlyContainer1 {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.borderBottom4 {
  height: 6px;
  width: 96.6px;
  position: relative;
  background-color: var(--color-gray-400);
  transform: rotate(-90deg);
}
.mainMessageBox8,
.messageBoxFrame,
.messageFrame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mainMessageBox8 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 0 0 0 var(--padding-5xl);
  gap: 0 18px;
  min-height: 98px;
  max-width: calc(100% - 46px);
  flex-shrink: 0;
  z-index: 1;
}
.messageBoxFrame,
.messageFrame {
  max-width: 100%;
}
.messageFrame {
  height: 96px;
  width: 654px;
  align-items: flex-end;
  gap: 0 16px;
}
.messageBoxFrame {
  align-items: flex-start;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
}
.outlineMessagesCoversatio3,
.outlineMessagesCoversatio4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.outlineMessagesCoversatio4 {
  z-index: 1;
}
.chatbotMessageBox {
  height: 30px;
  width: 30px;
  position: relative;
}
.thankYou1 {
  width: 138px;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.borderBottom5 {
  height: 6px;
  width: 72.5px;
  position: relative;
  background-color: var(--color-gray-400);
  transform: rotate(-90deg);
}
.mainMessageBox9 {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-200);
  padding: 0 0 0 var(--padding-5xl);
  background-color: var(--light-theme-rest-background-default-background);
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  align-items: center;
  gap: 0 18px;
  z-index: 1;
}
.backgroundPaperclipFrame,
.mainMessageBox9,
.sendButtonFrame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sendButtonFrame {
  align-self: stretch;
  width: 232px;
  align-items: flex-end;
  gap: 0 16px;
}
.backgroundPaperclipFrame {
  width: 296px;
  height: 84px;
  align-items: flex-start;
  padding: 0 0 var(--padding-2xs) 0;
  box-sizing: border-box;
}
.outlineMessagesConversation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
  font-family: var(--font-montserrat);
}
.chatbotSidecol,
.mainMessageBox7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.mainMessageBox7 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-25xl) 0 0;
  max-width: calc(100% - 205px);
  flex-shrink: 0;
}
.chatbotSidecol {
  width: 100%;
  position: relative;
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-27xl) var(--padding-41xl) var(--padding-20xl);
  gap: 0 77px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1150px) {
  .mainMessageBox7 {
    padding-top: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .frameRoot {
    display: none;
  }
  .mainMessageBox8 {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .messageFrame {
    height: auto;
  }
  .messageBoxFrame {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .mainMessageBox7 {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .getRecommendationsLabel {
    gap: 0 40px;
  }
  .mainMessageBox7 {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .chatbotSidecol {
    gap: 0 77px;
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .body {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .sureBasedOnContainer,
  .thanksImCurrentlyContainer {
    font-size: var(--font-size-base);
  }
  .groupMessageBoxes {
    padding-bottom: 240px;
    box-sizing: border-box;
  }
  .thankYou1,
  .thanksImCurrentlyContainer1 {
    font-size: var(--font-size-base);
  }
  .chatbotSidecol {
    gap: 0 77px;
  }
}
