.frameChild {
  height: 982px;
  width: 103px;
  position: relative;
  background-color: var(--color-antiquewhite);
  display: none;
}
.bookFrameIcon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.authorFrame,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleParent {
  height: 982px;
  background-color: var(--color-antiquewhite);
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-7xl) var(--padding-15xl)
    var(--padding-8xl);
}
.authorFrame {
  width: 1247px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: 0 27px;
  max-width: 100%;
  flex-shrink: 0;
}
.fyodorDostoevsky,
.jKRowling {
  height: 15px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 127px;
  max-width: 130px;
}
.tolstoy {
  z-index: 1;
}
.julesVerne,
.julesVerne1,
.karlMarx,
.karlMarx1,
.tolstoy {
  height: 15px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 127px;
  max-width: 130px;
}
.julesVerne,
.julesVerne1,
.karlMarx1 {
  z-index: 1;
}
.julesVerne1,
.karlMarx1 {
  z-index: 2;
}
.julesVerne1 {
  z-index: 3;
}
.authorFrames,
.recommendation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authorFrames {
  margin-bottom: -170px;
  width: 931px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  flex-shrink: 0;
}
.recommendation {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--color-snow);
  overflow: hidden;
  flex-direction: column;
  gap: 155px 0;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .recommendation {
    gap: 155px 0;
  }
}
@media screen and (max-width: 1050px) {
  .recommendation {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    display: none;
  }
  .authorFrame {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .recommendation {
    gap: 155px 0;
  }
}
@media screen and (max-width: 450px) {
  .recommendation {
    gap: 155px 0;
  }
}
