.image11Icon,
.image12Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 42px;
  object-fit: cover;
}
.image11Icon {
  display: none;
}
.image12Icon {
  z-index: 1;
}
.rectangleBackground {
  width: 40px;
  height: 42px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frameReadingProgressImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.mainMessageBox {
  height: 120px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  min-width: 120px;
  z-index: 1;
}
.frameMessagesContainer,
.mainMessageBoxUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frameMessagesContainer {
  width: 743px;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0 31px;
}
.mainMessageBoxUser {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 var(--padding-lgi) 0;
  box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  .frameMessagesContainer {
    gap: 0 31px;
  }
}
