.body {
  flex: 1;
  position: relative;
  line-height: 25.45px;
  font-weight: 500;
  display: inline-block;
  min-width: 251px;
  max-width: 100%;
}
.emojisIcon,
.outlineMessagesCoversatio,
.sendIcon {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 50px;
}
.sendButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 20px;
  margin-left: -70px;
}
.borderBottom {
  height: 4.5px;
  width: 1132px;
  position: relative;
  border-radius: 0 0 3.82px 3.82px;
  background-color: var(--light-theme-rest-background-brand-background);
  display: none;
  max-width: 100%;
  z-index: 2;
}
.mainMessageBox,
.outer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.mainMessageBox {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--light-theme-rest-background-default-background);
  box-shadow: 0 0.2px 0.57px rgba(0, 0, 0, 0.11),
    0 1px 2.29px rgba(0, 0, 0, 0.13);
  border: 2px solid var(--color-gray-400);
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-8xl) var(--padding-6xl)
    var(--padding-5xl);
  min-height: 104px;
  row-gap: 20px;
}
.outer {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke);
  border: 2px solid var(--color-gainsboro-100);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) 0;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--light-theme-rest-foreground-default-foreground-1-424242);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .body {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .sendButton {
    margin-left: 0;
  }
}
