.image11Icon,
.image12Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 42px;
  object-fit: cover;
}
.image11Icon {
  display: none;
}
.image12Icon {
  z-index: 1;
}
.shapeContainer {
  width: 40px;
  height: 42px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.imageFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.mainMessageBox1 {
  height: 120px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  min-width: 120px;
  z-index: 1;
}
.mainMessageBox {
  width: 743px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 31px;
  max-width: 100%;
}
.mainMessageBoxWrapper,
.outerMessageBox {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mainMessageBoxWrapper {
  height: 104px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.outerMessageBox {
  flex-direction: column;
  gap: 41px 0;
}
@media screen and (max-width: 1050px) {
  .mainMessageBoxWrapper {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .mainMessageBox {
    gap: 0 31px;
  }
  .outerMessageBox {
    gap: 41px 0;
  }
}
