@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xs: 8px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-snow: #fbf8f6;
  --color-gray-100: #858585;
  --color-gray-200: #918074;
  --color-gray-300: #1c1c1c;
  --color-gray-400: #02040f;
  --color-gray-500: rgba(41, 41, 41, 0.8);
  --color-lightsalmon: #f18966;
  --color-sienna: #bd5733;
  --light-theme-rest-background-default-background: #fff;
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: #ddd;
  --color-gainsboro-300: #e2d6c9;
  --color-antiquewhite: #e6dbcd;
  --color-silver-100: #c9bdb0;
  --color-darkorange: #ff7008;
  --color-black: #000;
  --color-ghostwhite: #f8f8ff;
  --color-whitesmoke: #f9fafa;
  --light-theme-rest-background-brand-background: #5b5fc7;
  --light-theme-rest-foreground-default-foreground-1-424242: #424242;
  --color-darkslateblue: #082567;

  /* Gaps */
  --gap-136xl: 155px;
  --gap-0: 0px;
  --gap-73xl: 92px;
  --gap-32xl: 51px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-30xl: 49px;
  --gap-31xl: 50px;
  --gap-9xl: 28px;
  --gap-8xs: 5px;
  --gap-61xl: 80px;
  --gap-5xs: 8px;
  --gap-23xl: 42px;
  --gap-749xl: 768px;
  --gap-22xl: 41px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-9xl: 28px;
  --padding-lgi: 19px;
  --padding-16xl: 35px;
  --padding-10xl: 29px;
  --padding-4xl: 23px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-43xl: 62px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-12xl: 31px;
  --padding-8xs: 5px;
  --padding-mini: 15px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-6xl: 25px;
  --padding-15xl: 34px;
  --padding-8xl: 27px;
  --padding-25xl: 44px;
  --padding-203xl: 222px;
  --padding-125xl: 144px;
  --padding-200xl: 219px;
  --padding-123xl: 142px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-27xl: 46px;
  --padding-41xl: 60px;
  --padding-20xl: 39px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-24xl: 43px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-3xs: 10px;
  --br-13xl: 32px;
  --br-8xs: 5px;
  --br-xs: 12px;
  --br-9xs-8: 3.8px;
}
